@media only screen and (min-width: 600px) {
	.profile img.profile {
		width: 228px;
		height: 228px;
	}
	.profile h1#title {
		font-size: 24px;
	}
	.profile #textTypeWriter {
		font-size: 16px;
	}
	.down,
	.end #up {
		font-size: 14px;
	}
	.section p:not(.down) {
		font-size: 16px;
	}
	.container {
		width: 80%;
	}
	.card h3,
	.section .card p,
	.skills .card .card_text h3,
	.skills .card .card_text p {
		font-size: 14px;
	}
}
