@media only screen and (min-width: 768px) {
	.profile img.profile {
		width: 256px;
		height: 256px;
	}
	.profile h1#title {
		font-size: 26px;
	}
	.profile #textTypeWriter {
		font-size: 18px;
	}
	.icon {
		font-size: 15px;
		padding: 10px;
	}

	.down,
	.end #up {
		font-size: 16px;
	}

	.section h1:not(#title) {
		font-size: 26px;
		margin-bottom: 50px !important;
	}

	.section p:not(.down) {
		width: 60%;
		margin: 25px auto;
		font-size: 18px;
	}

	.section .card p {
		width: calc(100% - 20px);
	}

	.container {
		width: 60%;
	}
	.card h3,
	.section .card p,
	.skills .card .card_text h3,
	.skills .card .card_text p {
		font-size: 16px;
	}
	.contact form {
		width: 60%;
	}

	label {
		font-size: 16px;
	}

	input,
	textarea {
		height: 40px;
		font-size: 14px;
	}

	textarea {
		padding: 10px;
		height: auto;
	}
}
